@model ListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Edit products</h1>
    <form method="POST">
    <table class="table">
        <thead>
        <th scope="col">
            Id
        </th>
        <th scope="col">
            Name
        </th>
        <th scope="col">
            Price
        </th>
        </thead>
        <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td><button class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id" asp-controller="Products">Delete</button></td>
            </tr>
        }
        </tbody>
    </table>
    </form>
</div>
